body {
    font-family: arial;
	background: black
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.header {
	width: 100%;
	max-width: 1200px;
	margin: 2em auto;
	text-align: center;
}

.banner {
	width: 90%;
	height: auto !important;
}

.logo {
	max-width: 60%;
	max-height: 50vh;
	display: none;
}

.buttonbar {
	margin: 4em auto 0;
	text-align: center;
	width:  80%;
}

.button {
	display: inline-block;
	margin: 1em 1.75em;
	width: 24%;
	min-width: 40px;
	max-width: 80px;
}

.button img {
	width: 100%;
	margin-bottom: 0.2em;
}

@media screen and (max-aspect-ratio: 4/5) {
	.logo {
		display: inline;
	}
	.banner {
		display: none;
	}
	.buttonbar {
		margin: 2em auto 0;
		text-align: center;
		width:  80%;
	}
}