body {
    font-family: arial;
	font-size: 80%;
	line-height: 1.2em;
	width: 100%;
	margin: 0;
	background: #000;
}

.logo {
	text-align: center;
	width: 100%;
	margin-top: 30pt;
}

.logo img {
	width: 90%;
	height: auto !important;
    margin-left: auto;
    margin-right: auto;
}